
@import url('color.css');
@import url('../../login/css/login.css');
@import url('../../account/css/account.css');


.contents{
	width:300px;
	margin:8px auto;
	background-color:#F6F6F6;
	padding:8px 20px;
	border-radius:8px;
	text-align:center;
}

.contents_title{
	line-height:32px;
	text-align:center;
}
.contents_title *{
	vertical-align:middle;
}

.message{
	color:red;
	text-align:left;
}
.message:empty{
	display:none;
}

.button_regist{
	margin:20px 0;
	text-align:center;
}
.button_regist img{
	margin:0 4px;
}

.input_area{
	width:240px;
	display:inline-block;
	text-align:left;
}



div.input_line{
	height:50px;
	/*line-height:50px;*/
	font-size:16px;
	text-align:right;
}

/*menu*/

.navbar-brand img{
	vertical-align:middle;
	margin:0 4px;
}

/*etc*/




.hero-unit{
	background-color:#F6F6F6;
	margin:8px;
	padding:10px;
	border-radius:8px;
}



