
/*login*/

.contents{
	width:300px;
	margin:8px auto;
	background-color:#F6F6F6;
	padding:8px 20px;
	border-radius:8px;
	text-align:center;
}

.contents_title{
	line-height:32px;
	text-align:center;
}
.contents_title *{
	vertical-align:middle;
}

.message{
	color:red;
	text-align:left;
}
.message:empty{
	display:none;
}
.login_keep{
	width:100%;
	display:inline-block;
	font-weight:normal;
	height:30px;
	line-height:30px;
	text-align:center;
	color:#888;
}
.button_regist{
	margin:20px 0;
	text-align:center;
}
.button_regist img{
	margin:0 4px;
}

.input_area{
	width:240px;
	display:inline-block;
	text-align:left;
}
.input_area input[type="text"],.input_area input[type="password"],select.setting{
	width:100%;
	height:40px;
	margin:8px 0;
	padding:8px;
	font-size:20px;
}
.input_area input[type="submit"]{
	width:100%;
	height:40px;
	display:inline-block;
	right:0;
	font-size:16px;
}

/*sns-login-button*/
.login_sns{
	width:100%;
	margin:8px 0;
	text-align:center;
}
/*
.login_sns img{
	display:inline-block;
	width:32px;
	margin:0 4px;
}
*/
.openid_link{
	display:inline-block;
	width:150px;
	/*height:40px;*/
	line-height:40px;
	border-radius:4px;
	/*padding:4px;*/
	/*border:1px solid #888;*/
	/*background-color:#CCC;*/
	text-align:left;
	vertical-align:middle;
	margin:4px;
}
.openid_link img{
	width:150px;
	height:auto;
}

div.input_line{
	height:50px;
	/*line-height:50px;*/
	font-size:16px;
}

/*menu*/

.navbar-brand img{
	vertical-align:middle;
	margin:0 4px;
}

/*etc*/

.hero-unit{
	background-color:#F6F6F6;
	margin:8px;
	padding:10px;
	border-radius:8px;
}


