<!doctype html>
<html lang="en">
	
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="">
		<meta name="author" content="">
		<link rel="shortcut icon" href="<!--%define:_SYSTEM%-->/<!--%define:_COMMON%-->/img/favicon.ico">
		
		<title><!--%globals:data:config:page_title%--></title>
		
		<!-- Bootstrap core CSS -->
		<link href="<!--%define:_SYSTEM%-->/bootstrap/css/bootstrap.css" rel="stylesheet">
		<link href="<!--%define:_SYSTEM%-->/bootstrap/css/bootstrap.min.css" rel="stylesheet">
		<!-- Bootstrap theme -->
		<link href="<!--%define:_SYSTEM%-->/bootstrap/css/bootstrap-theme.css" rel="stylesheet">
		<link href="<!--%define:_SYSTEM%-->/bootstrap/css/bootstrap-theme.min.css" rel="stylesheet">
		
		<!--local-css-->
		<link href="<!--%define:_SYSTEM%-->/<!--%define:_COMMON%-->/css/common.css" rel="stylesheet">
		
	</head>
	
	<body>
		
		<!--%tpl:<!--#define:_SYSTEM#-->/<!--#define:_COMMON#-->/html/parts_menu.html%-->
		
		<div class='container' style='margin-top:60px;'>
			
			<div>
				<!--%globals:view:html%-->
			</div>
			
			
			
		</div>
		
		<!--%tpl:<!--#define:_SYSTEM#-->/<!--#define:_COMMON#-->/html/parts_footer_link.html%-->
		
		<!--%tpl:<!--#define:_SYSTEM#-->/<!--#define:_COMMON#-->/html/parts_footer_js.html%-->
		
	</body>
</html>